<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <label class="btn btn-primary" id="bob">Add a picture
              <span style="display:none;">
                <%= f.input :picture, multiple: false, name: 'picture' %>
              </span>
            </label>
            <%= f.input :picture_cache, as: :hidden %>
            <% if resource.token.nil? %>
              <%= f.input :email, required: true, autofocus: true, placeholder: 'email',  label: false  %>
            <% end %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <% if resource.token.nil? %>
              <%= f.input :password,
                          hint: "leave blank if you don't want to change it",
                          required: false,
                          input_html: { autocomplete: "new-password" }, placeholder: 'change your password (optional)',  label: false %>
              <%= f.input :password_confirmation,
                          required: false,
                          input_html: { autocomplete: "new-password" }, placeholder: 'confirm new password',  label: false %>
            <% end %>
            <%#= f.input :current_password,
                        hint: "we need your current password to confirm your changes",
                        required: true,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :first_name, placeholder: 'First Name',  label: false %>
            <%= f.input :last_name, placeholder: 'Last Name',  label: false %>
            <%= f.input :location, placeholder: 'Location',  label: false  %>
            <%= f.input :date_of_birth, as: :date, start_year: Date.today.year - 18,
                                      end_year: Date.today.year - 100,
                                      order: %i(day month year)  %>
            <div>
              <div class="d-flex justify-content-between ">
                <%= f.input :facebook_profile, placeholder: 'facebook',  label: false, input_html: {class: 'flex-item'} %>
                <%= f.input :instagram_profile, placeholder: 'instagram_handle',  label: false, input_html: {class: 'flex-item'} %>
              </div>
              <div class="d-flex justify-content-between ">
                <%= f.input :twitter_profile, placeholder: 'twitter_handle',  label: false, input_html: {class: 'flex-item'} %>
                <%= f.input :linkedin_profile, placeholder: 'linkedin profile',  label: false, input_html: {class: 'flex-item'} %>
            </div>
            </div>
            <%= render 'gender' %>
            <%= render 'available' %>

          </div>

          <div class="form-actions text-center mt-3">
            <%= f.button :submit, "Update", class: "main_action_button" %>
          </div>
        <% end %>

        <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>

