<div class="form">
  <%= simple_form_for [@user, @useradj] do |f| %>
    <%= f.input :adjective, hint: "First adjective that matters to you", hint_html: { class: "from-text"} %>
    <%= f.input :adjective_2, hint: "Second adjective that matters to you", hint_html: { class: "from-text"} %>
    <%= f.input :adjective_3, hint: "Third adjective that matters to you", hint_html: { class: "from-text"} %>
    <div class="text-center">
      <%= f.button :submit, "UPDATE SEARCH", class: "second_action_button right" %>
    </div>
  <% end %>
</div>
