<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-10 col-sm-8 "><!-- col-sm-offset-3 -->
      <%= simple_form_for @user do |f| %>
        <%= render 'gender_search' %>
        <%= f.simple_fields_for :user_adjectives do |f| %>
          <% if @user.user_adjectives.blank? %>
            <%= f.input :adjective, hint_html: { class: "from-text"},  placeholder: 'who is...', label: false, hint: "First adjective that matters to you"  %>
            <%= f.input :adjective_2, hint_html: { class: "form-text"}, placeholder: '.. and', label: false, hint: "Second adjective that matters to you"  %>
            <%= f.input :adjective_3, hint_html: { class: "form-text"}, placeholder: '.. and', label: false, hint: "Third adjective that matters to you"  %>
          <% else %>
            <%= f.input :adjective, input_html: {value: @user.user_adjectives.first[:adjective]}, hint_html: { class: "form-text"}, label: false, hint: "First adjective that matters to you" %>
            <%= f.input :adjective_2, input_html: {value: @user.user_adjectives.first[:adjective_2]}, hint_html: { class: "form-text"}, label: false, label: false, hint: "Second adjective that matters to you" %>
            <%= f.input :adjective_3, input_html: {value: @user.user_adjectives.first[:adjective_3]}, hint_html: { class: "form-text"}, label: false, label: false, hint: "Third adjective that matters to you" %>
          <% end %><!-- , hint: "Third adjective that matters to you" -->
        <% end %>
        <div class="text-center">
          <%= f.button :submit, "UPDATE SEARCH", class: "second_action_button right" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
