<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form2">
        <%= simple_form_for @user do |f| %>

          <%= render 'gender_search', f: f %>

          <%= f.simple_fields_for :user_adjectives do |f| %>
            <% if @user.user_adjectives.blank? %>
              <%= f.input :adjective, hint: "First adjective that matters to you", hint_html: { class: "from-text"} %>
              <%= f.input :adjective_2, hint: "Second adjective that matters to you", hint_html: { class: "form-text"} %>
              <%= f.input :adjective_3, hint: "Third adjective that matters to you", hint_html: { class: "form-text"} %>
            <% else %>
              <%= f.input :adjective, input_html: {value: @user.user_adjectives.first[:adjective]}, hint: "First adjective that matters to you", hint_html: { class: "form-text"} %>
              <%= f.input :adjective_2, input_html: {value: @user.user_adjectives.first[:adjective_2]}, hint: "Second adjective that matters to you", hint_html: { class: "form-text"} %>
              <%= f.input :adjective_3, hint: "Third adjective that matters to you", input_html: {value: @user.user_adjectives.first[:adjective_3]}, hint_html: { class: "form-text"} %>
            <% end %>
          <% end %>
          <div class="text-center">
            <%= f.button :submit, "UPDATE SEARCH", class: "second_action_button right" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
