<!-- <html lang="en">
<head>
  <title>You are in control</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body> -->

<div class="container">
  <div class="jumbotron">
    <div class="form-inputs">
      <%= simple_form_for [@user, @useradj] do |f| %>
        <%= f.input :adjective, hint: "First adjective that matters to you" %>
        <%= f.input :adjective_2, hint: "Second adjective that matters to you" %>
        <%= f.input :adjective_3, hint: "Third adjective that matters to you" %>
        <%= f.button :submit, "Update preferences", class: "full_width_button" %>
      <% end %>
    </div>
  </div>
</div>
<!--
</body>
</html> -->
