<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-10 col-sm-8 ">
      <%= simple_form_for @user do |f| %>

        <%= render 'gender_search' %>

        <%= f.input :adjective_1, hint_html: { class: "from-text"},  placeholder: 'who is...', label: false, hint: "First adjective that matters to you"  %>
        <%= f.input :adjective_2, hint_html: { class: "form-text"}, placeholder: '.. and', label: false, hint: "Second adjective that matters to you"  %>
        <%= f.input :adjective_3, hint_html: { class: "form-text"}, placeholder: '.. and', label: false, hint: "Third adjective that matters to you"  %>

        <div class="text-center mb-3">
          <%= f.button :submit, "UPDATE SEARCH", class: "second_action_button right" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
