<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @user.profile_image_path %>')">
  <div class="container">
    <h1>My Profile</h1>
    <%= link_to "invite friend", new_friend_invitation_path, class:"btn btn-light"  %>

<!-- if user is available show "search button" -->
    <% if @user.available %>
      <% if @user.user_adjectives.present? %>
        <%= link_to "my search", edit_user_user_adjective_path(@user, @user.user_adjective_ids.first), class:"btn btn-light"  %>
      <% else %>
        <%= link_to "my search", new_user_user_adjective_path(@user, @user.user_adjective_ids.first), class:"btn btn-light"  %>
      <% end %>
    <% end %>
  </div>

</div>

<div class="p-5">
  <% unless @invitations.nil? %>
    <% @invitations.each do |invitation| %>
    <p><%= invitation.user.full_name %> has invited you as a trusted friend</p>
    <%= link_to "Accept invitation",friend_invitation_path(invitation, friend_invitation: {accepted: true}), method: :put, class:"btn btn-light" %>
    <% end %>
  <% end %>
</div>


  <div class="p-3 my-3">
    <h2>My friends</h2>

    <div class="cards">
      <% @accepted_invitations.each do |invitation| %>
        <% if invitation.friend == @user %>
          <% myfriend = invitation.user %>
        <% else %>
          <% myfriend = invitation.friend %>
        <% end %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= myfriend.profile_image_path %>')">
           <%= link_to myfriend.full_name, user_path(myfriend), class:"text-decoration-none text-light"  %>
        </div>
      <% end %>
    </div>

    <div class="cards mt-3">
      <% @pending_invitations.each do |invitation| %>
        <% myfriend = invitation.friend %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= myfriend.profile_image_path %>')">
           <%= link_to user_path(myfriend), class:"text-decoration-none text-light" do %>
           <%= myfriend.full_name %> <i class="fas fa-frog"></i>
           <% end %>
        </div>
      <% end %>
    </div>
  </div>

<!-- if user is available show matches profiles -->
  <% if @user.available %>
    <div class="p-3 my-3">
      <h2>My Matches</h2>

        <%= render 'mymatches', matches: @matches  %>

        <% unless @pending_matches.nil? %>
          <%= render 'mymatches', matches: @pending_matches  %>
        <% end %>

    </div>

<!-- if user is not available show submitted matches with both profiles and status -->
  <% else %>
    <div class="p-3 my-3">

      <% if @helper_matches.nil? %>
        <p>Create your first match today! </p>
      <% else %>
        <h2>My submitted Matches</h2>
        <%= render 'helper_matches' %>
      <% end %>
    </div>
  <% end %>
