<% if @user.available %>
  <h4>Friends helping with your search</h4>
  <% else %>
  <h4>Friends you are helping in their search</h4>
<% end %>

<div class="cards">
<!-- accepted friends -->
  <% @accepted_invitations.each do |invitation| %>
    <% if invitation.friend == @user %>
      <% myfriend = invitation.user %>
    <% else %>
      <% myfriend = invitation.friend %>
    <% end %>
    <%= link_to user_path(myfriend), class:"text-decoration-none" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= myfriend.profile_image_path %>')">
        <%= myfriend.full_name %>
        <small><%= myfriend.status %></small>
      </div>
    <% end %>
  <% end %>
<!-- pending friends -->
<% @pending_invitations.each do |invitation| %>
  <% myfriend = invitation.friend %>
  <%= link_to user_path(myfriend), class:"text-decoration-none" do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= myfriend.profile_image_path %>')">
       <%= myfriend.full_name %> <i class="fas fa-frog"></i>
        <small><%= myfriend.status %></small>
    </div>
  <% end %>
<% end %>
</div>

