<% if @user.available %>
  <h4>Friends helping with your search</h4>
<% else %>
  <h4>Friends you are helping in their search</h4>
<% end %>

<div class="cards mt-3">
<!-- accepted friends -->
  <% @single_friends.each do |myfriend| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= myfriend.profile_image_path %>')">
      <%= link_to user_path(myfriend), class:"text-decoration-none text-white" do %>
        <%= myfriend.full_name %>
        <small><%= myfriend.status %></small>
        <small>Looking for <%= myfriend.gender_search %> who is <%= myfriend.adjective_1 %>, <%= myfriend.adjective_2 %> and <%= myfriend.adjective_3 %></small>
      <% end %>
      <%= link_to new_match_path(@match, match_one: myfriend), style:"font-size: 0.75em", class:"text-decoration-none text-white" do %>
        <i class="fas fa-plus-square"></i> Add match
      <% end %>
    </div>
  <% end %>
<!-- pending friends -->
  <% @pending_invitations.each do |invitation| %>
    <% myfriend = invitation.friend %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
         <%= myfriend.full_name %> <i class="fas fa-frog"></i>
      </div>
  <% end %>
</div>

