      <% @single_friends.delete(current_user) %>
<% unless @single_friends.empty? %>
  <h2>Single friends</h2>
  <div class="cards my-3">
    <% @single_friends.each do |myfriend| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= myfriend.profile_image_path %>')">
        <%= myfriend.full_name %>
        <small>
          <%= myfriend.status %></small><br>
        <small><i class="fas fa-search"></i> :
          <%= myfriend.search %></small>
        <% if current_user.friends.include?(myfriend) || myfriend.friends.include?(current_user) %>
          <%= link_to new_match_path(@match, match_one: myfriend), style:"font-size: 0.75em", class:"text-decoration-none text-white mt-3" do %>
            <i class="fas fa-plus-square"></i> Add match
          <% end %>
        <% else %>
          <%= link_to friend_invitations_path(friend_id: myfriend.id), method: :post, style:"font-size: 0.75em", class:"text-decoration-none text-white mt-3" do %>
            <i class="fas fa-plus-square"></i> Add friend
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>