<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @user.profile_image_path %>')">
  <div class="container">
    <h1>
      <%= @user.full_name %>
    </h1>
    <p>
      <%= @user.status %>
    </p>
    <% if @user.available %>
      <% if @user.adjective_1.present? %>
        <div class="adjectives">
          Looking for
          <%= @user.gender_search %> who is
          <%= @user.adjective_1 %>,
          <%= @user.adjective_2 %> and
          <%= @user.adjective_3 %>.
        </div>
      <% end %>
      <%= link_to new_match_path(@match, match_one: @user), style:"font-size: 1.5em" do %>
        <i class="fas fa-plus-square"></i> Add match
      <% end %>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <!-- if user available, show search criteria and matches -->
      <% if @user.available %>
        <div class="p-2 my-3">
          <% unless @matches.empty? %>
            <h2>Current Matches</h2>
            <%= render 'mymatches', matches: @matches  %>
          <% end %>
          <% unless @pseudo_matches.empty? %>
            <%= render 'pseudo_matches'  %>
          <% end %>
        </div>
        <!-- show helper page for not available should be restricted to user logged in-->
      <% else %>
        <div class="p-2 my-3">
          <% if @helper_matches.empty? || @helper_pseudo_matches.empty? %>
            <p>No matches submitted yet... </p>
          <% else %>
            <h2>Submitted Matches</h2>
            <%= render 'helper_matches' %>
            <%= render 'helper_pseudo_matches', matches: @helper_pseudo_matches %>
          <% end %>
        </div>
      <% end %>
      <%@chat_room = ChatRoom.find_by(user_one: @user, user_two: current_user) || ChatRoom.find_by(user_two: @user, user_one: current_user) %>
      <%= render 'chat' %>
      <%= link_to 'back to my profile', user_path(current_user)  %>
    </div>
  </div>
</div>