
<h1>H1 title</h1>

<h2>H2 title</h2>

<h3>H3 title</h3>

<h4>H4 title</h4>

<div class="catch-paragraph">
  catch-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
</div>
<div class="catch-paragraph-left">
  catch-paragraph-left Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
</div><p></p>
<div class="catch-paragraph-right">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
</div><p></p>
<div class="paragraph">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>

<div class="text-center">
  <%= link_to "MAIN ACTION BUTTON", "#", class: "main_action_button" %>
</div>
<div class="text-center">
  <%= link_to "SECOND ACTION BUTTON", "#", class: "second_action_button" %>
</div>
<div class="text-center">
  <%= link_to "LOW KEY BUTTON", "#", class: "low_key_button" %>
</div>
<div class="text-center">
  <%= link_to "small link text to the right", "#", class: "small_link_text_right" %>
</div>
<div class="text-center">
  <%= link_to "Login with Facebook", "#", class: "loginBtn--facebook" %>
</div>
<%= link_to "FULL WIDTH BUTTON", "#", class: "full_width_button" %>

<div class="footer-social-icons">
    <h4 class="_14">Follow us on</h4>
    <ul class="social-icons">
        <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
    </ul>
</div>

<div class="center">
  <div id="social-test">
    <ul class="social">
      <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
      <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
      <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
      <li><i class="fa fa-linkedin" aria-hidden="true"></i>
    </li>
      <li><i class="fa fa-youtube" aria-hidden="true"></i></li>
      <li><i class="fa fa-rss" aria-hidden="true"></i>
    </li>
      <li><i class="fa fa-github" aria-hidden="true"></i>
    </li>
    </ul>
  </div>
</div>
