<div class="form2 my-3">
  <div class="form-inputs">
    <%= simple_form_for @pseudo_match do |f| %>
      <%= f.hidden_field :match_one_id, value: @match_one.id %>
      <%= f.input :match_two_first_name, label: 'Who would be the perfect match?', placeholder: "Enter the match's first name" %>
      <%= f.input :match_two_last_name, label: false, placeholder: "Enter the match's last name" %>
      <%= f.input :match_two_email, label: false, placeholder: "Enter the match's email", hint: "your friend will get an invitation if #{@match_one.first_name} is interested"%>
      <p class='mb-2'>Give us more more details about this match</p class='mb-2'>
      <div class="input-icons">
        <%= link_to 'https://www.facebook.com/', target: :_blank, class:"icon-link" do %>
          <i class="fab fa-facebook icon"></i>
        <% end %>
        <%= f.input :match_two_facebook, label: false, placeholder: "Copy the match's facebook link here" %>
      </div>
      <div class="input-icons">
        <%= link_to 'https://www.linkedin.com/', target: :_blank, class:"icon-link" do %>
          <i class="fab fa-linkedin icon"></i>
        <% end %>
        <%= f.input :match_two_linkedin, label: false, placeholder: "Copy the match's linkedin link here" %>
      </div>
      <div class="d-flex">
        <p class="my-2 mr-2">Find them on:</p>
        <%= link_to 'https://www.facebook.com/', target: :_blank, class:"match_social_urls" do %>
          <i class="fab fa-facebook"></i>
          <%= link_to 'https://www.linkedin.com/', target: :_blank, class:"match_social_urls" do %>
            <i class="fab fa-linkedin"></i>
          <% end %>
        <% end %>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-1">
        <%= f.input :match_two_picture, input_html: { class: 'd-none', id: 'photo-input'}, label_html: { class: 'second_action_button'}, label: 'Upload picture', hint_html: { id: 'photo-hint'}, hint: 'Add a screen shot of their social media profile' %>
        <%= image_tag "", width: 100, height: 100, class: "ml-3 mb-3 d-none", id: "photo-preview" %>
      </div>
      <%= f.input :intro_message, placeholder: "I thought you would be great for each other..." %>
    </div>
    <%= f.submit 'Create match and invite your friend', class:"main_action_button mb-0" %>
  <% end %>
</div>