

<!--         <h2><%= @match.status %></h2> -->

             <% if @match.status == "Accepted" %>
             Congratulations, we have a match, <= @match.match_one.first_name %> and <= @match.match_two.first_name %> let's hope for magic.
            <% elsif  current_user.match_one_accepted.nil? %>
              We are waiting for <= @match.match_one.first_name %>'s answer, do not hesitate to nudge them
            <% elsif current_user.match_two_accepted? != true %>
              We are waiting for <= @match.match_two.first_name %>'s response, do not hesitate to nudge them
            <% end %>

  <!-- put picture of match one and match two instead, same as submitted matches partials in users-show - no helper avatar -->

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= mymatch.profile_image_tag %>')">
          <%= link_to user_path(myhelper), class:"text-decoration-none" do %>
          <%= cl_image_tag(myhelper.profile_image_path, width:50, height:50, gravity:"faces", crop:"fill", class:"card-helper") %>
        <% end %>
        </div>
        <p>


        <div class="mt-3">

          <div class="invitations">
          <h4>Comment from <%= current_user.first_name %></h4>
          <%= @match.intro_message %>
          </div>
        </div>
        <div>
          <p><i class="fab fa-facebook-square"></i></p>
          <p><i class="fab fa-twitter-square"></i></p>
          <p><i class="fab fa-instagram"></i></p>
          <p><i class="fab fa-linkedin"></i></p>
        </div>

