<% if @match.match_one == current_user %>
  <% mymatch = @match.match_two %>
  <% i_accepted = @match.match_one_accepted %>
  <% mymatch_accepted = @match.match_two_accepted %>
<% else %>
  <% mymatch = @match.match_one %>
  <% i_accepted = @match.match_two_accepted %>
  <% mymatch_accepted = @match.match_one_accepted %>
<% end %>
<% myhelper = @match.helper %>

<div class="mt-3">
  <% if i_accepted %>
    <% if @match.status == "Accepted" %>
      <p><strong><%= mymatch.full_name %></strong> would be interested in getting to know you too.  Why don't you reach out to him on WhatsApp or phone? His details are below:</p>
    <% elsif mymatch_accepted.nil? %>
      <p>Thank you for responding; we are waiting for <%= mymatch.first_name_cap %>'s response, stay tuned.</p>
    <% else %>
      <p><%= mymatch.full_name %> has a great deal to do lately and will pass this opportunity for now. Let's find some more matches!</p>
      <% end %>
  <% elsif i_accepted == false %>
      <p>Next time... Feel free to nudge <strong><%= myhelper.first_name_cap %></strong> for more matches.</p>
  <% else %>
      <p><strong><%= myhelper.first_name_cap %></strong> would like to introduce you to <strong><%= mymatch.full_name %></strong>. Up to you!</p>
      <div class="mb-3">
        <% if @match.match_one == current_user %>
          <%= link_to "Yes",match_path(@match, match: {match_one_accepted: true}), method: :put, class:"main_action_button mb-0" %>
          <%= link_to "No",match_path(@match, match: {match_one_accepted: false}), method: :put, class:"low_key_button" %>
        <% else %>
          <%= link_to "Yes",match_path(@match, match: {match_two_accepted: true}), method: :put, class:"main_action_button mb-0" %>
          <%= link_to "No",match_path(@match, match: {match_two_accepted: false}), method: :put, class:"low_key_button" %>
        <% end %>
      </div>
  <% end %>
</div>


<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= mymatch.profile_image_tag %>')">
  <%= link_to user_path(myhelper), class:"text-decoration-none" do %>
  <%= cl_image_tag(myhelper.profile_image_path, width:50, height:50, gravity:"faces", crop:"fill", class:"card-helper") %>
<% end %>
</div>


<div class="my-3">
  <div class="invitations">
    <h4>Comment from <%= myhelper.first_name_cap %></h4>
    <%= @match.intro_message %>
  </div>
</div>

<div class="show-flex">
  <div style="flex-grow: 1">
    <div class="square_social_links">
      <%= link_to @match.match_one.facebook_profile, class:"match_social_urls" do %>
        <i class="fab fa-facebook"></i>
      <% end %>
      <%= link_to @match.match_one.twitter_profile, class:"match_social_urls" do %>
          <i class="fab fa-twitter"></i>
      <% end %>
    </div>
    <div class="square_social_links">
      <%= link_to @match.match_one.instagram_profile, class:"match_social_urls" do %>
        <i class="fab fa-instagram"></i>
      <% end %>
      <%= link_to @match.match_one.linkedin_profile, class:"match_social_urls" do %>
        <i class="fab fa-linkedin"></i>
      <% end %>
    </div>
  </div>
</div>


