<!-- content according to status -->

<% if @match.status == "Accepted" %>
  <p>Congratulations, we have a match, <strong><%= @current_user.first_name_cap %></strong> and <strong><%= mymatch.first_name_cap %></strong> let's hope for magic!</p>
<% elsif @match.status == "Rejected" %>
  <% if @match.match_one_accepted == false && @match.match_two_accepted == false %>
    <p><strong><%= @match.match_one.first_name_cap %></strong> and <strong><%= @match.match_two.first_name_cap %></strong> passed on this one, thanks for helping.</p>
  <% elsif @match.match_one_accepted == false %>
    <p><strong><%= @match.match_one.first_name_cap %></strong> passed on this one, thanks for helping.</p>
  <% else %>
    <p><strong><%= @match.match_two.first_name_cap %></strong> passed on this one, thanks for helping.</p>
  <% end %>
<% else %>
  <% if  @match.match_one_accepted.nil? %>
    <p>We are waiting for <strong><%= @match.match_one.first_name_cap %></strong>'s answer, give a nudge.</p>
  <% else %>
    <p>We are waiting for <strong><%= @match.match_two.first_name_cap %></strong>'s response, give a nudge.</p>
  <% end %>
<% end %>

<!-- matches pictures -->
<div class="show-flex">
  <div style="position: absolute; left: 40%; top: 40%; z-index: 10; color: #fff; font-size: 18px">
    <%= @match.status  %>
  </div>
  <%= link_to user_path(@match.match_one), class:"text-decoration-none d-flex position margin-top-bottom" do %>
    <div class="card-category-left-helperpage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= @match.match_one.profile_image_path %>'); width: 100%; height: 100%;">
    </div>
  <% end %>
  <%= link_to user_path(@match.match_two), class:"text-decoration-none d-flex position margin-top-bottom" do %>
    <div class="card-category-right-helperpage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= @match.match_two.profile_image_path %>'); width: 100%; height: 100%;">
    </div>
<% end %>
</div>

<div class="show-flex">

    <%= render 'social_icons', user: @match.match_one %>
    <%= render 'social_icons', user: @match.match_two %>

</div>

<div class="invitations mt-3">
    <h4>Your comment:</h4>
      <%= @match.intro_message %>
</div>

<%= render 'chat' %>

