<div class="container">
  <div class="jumbotron">
    <h1>Propose a match for <%= @match_one.full_name %></h1>

    <%= simple_form_for @match do |f| %>

    <%= f.hidden_field :match_one_id, value: params[:match_one] %>

    <%= f.input :match_two, label: 'Who would be the perfect match?', label_method: :full_name, collection: @friends %>

    <%= f.input :intro_message %>

    <%= f.submit class:"full_width_button" %>
    <% end %>
  </div>
</div>





