<div class="top_page">
  <p class="mx-3">Create a Match </p>
  <div class="d-flex justify-content-center">
    <div>
      <%= image_tag "lock.svg", class: "mb-3", alt: "data protection", style: 'height:auto;width:100px;' %>
    </div>
  </div>
</div>

<!-- create @matchable_friends for @match_one, removing @match_one and users already matched -->
<% @match_one = User.find(params[:match_one]) %>
<% @friends.delete(@match_one) %>
<% @already_matched = Match.where(match_one: @match_one, helper: current_user).map(&:match_two) + Match.where(match_two: @match_one, helper: current_user).map(&:match_one) %>
<% @friends_matchable = @friends - @already_matched %>

<% if @friends_matchable.present? %>
  <div class="form2 my-3 text-center">
    <div class="form-inputs">
      <%= simple_form_for @match do |f| %>
      <%= f.hidden_field :match_one_id, value: @match_one.id %>
      <%= f.association :match_two, label: 'Who would be the perfect match?', label_method: :full_name, collection: @friends_matchable %>
      <%= f.input :intro_message, placeholder: "I thought you would be great for each other..." %>
    </div>
      <%= f.submit class:"main_action_button mb-0" %>
    <% end %>
  </div>
<% end %>

<div class="mt-3 text-center">
  <p class="mb-0">The perfect match is not on IRL yet?</p>
  <p>Invite them to join and give a glimpse to <%= @match_one.first_name.capitalize %>:</p>

<div class="form2 my-3 text-center">
  <div class="form-inputs">
    <%= simple_form_for @pseudo_match do |f| %>
    <%= f.hidden_field :match_one_id, value: @match_one.id %>
    <%= f.input :match_two_first_name, label: 'Who would be the perfect match?', placeholder: "Enter the match's first name" %>
    <%= f.input :match_two_email, label: false, placeholder: "Enter the match's email", hint: "your friend will get an invitation" %>
    <div class="d-flex">
      <span class="match-search-urls">Find them on:</span>
      <%= link_to 'https://www.facebook.com/', class:"match-search-urls" do %>
        <i class="fab fa-facebook"></i>
      <% end %>
      <%= link_to 'https://www.linkedin.com/', class:"match-search-urls" do %>
        <i class="fab fa-linkedin"></i>
      <% end %>
    </div>
    <%= f.input :match_two_picture, label: false, hint: 'Add a screen shot of their social media profile' %>
    <%= f.input :match_two_picture_cache, as: :hidden %>
    <%= f.input :intro_message, placeholder: "I thought you would be great for each other..." %>
  </div>
    <%= f.submit 'Create match and invite your friend', class:"main_action_button mb-0" %>
  <% end %>
</div>

<!-- last part is commented out as the referral is now included in the part above -->
<!-- <div class="mt-3 text-center">
  <p class="mb-0">The perfect match is not on IRL yet?</p>
  <p>Share via e-mail:</p>

  <div class="form2"> -->
    <%#= simple_form_for @referral do |f| %>
      <%#= f.input :friend_email, placeholder: "Enter your friend's email" %>
      <%#= f.submit "Send invitation", class:"main_action_button mb-0" %>
    <%# end %>
<!--   </div>
</div> -->







