<h1>Add a trusted friend</h1>


<%= simple_form_for @invitation, :url => share_friend_invitations_path do |f| %>
  <%= f.input :enter_email, hint: "Enter a non user email" %>
  <%= f.submit %>
<% end %>

<br>
<br>
<br>

<%= form_tag new_friend_invitation_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: " Enter you friend email" %>
    <%= submit_tag %>
<% end %>

<% unless @searched_user.nil? %>
  <% @searched_user.each do |user| %>
    <%= user.full_name%>

        <%= simple_form_for @invitation do |f| %>
          <%= f.association :friend, label_method: :full_name %>
          <%= f.submit %>
        <% end %>

  <% end %>
<% end %>








