<div class="top_page">

  <p class="mx-3">Invite your friends</p>

  <div class="d-flex justify-content-center">
    <div>
      <%= image_tag "lock.svg", class: "mb-3", alt: "data protection", style: 'height:auto;width:100px;' %>
    </div>
  </div>
</div>

    <!-- search your friend in the existing app users -->
<div class="mt-3">

  <%#= form_tag new_friend_invitation_path, method: :get do %>
    <%#= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: " Enter you friend full name" %>
      <%#= submit_tag 'Search friend', class: "main_action_button mt-3" %>
  <%# end %>

  <%= simple_form_for :search, url: new_friend_invitation_path, method: :get, html: {class: 'form'} do |f| %>
    <%= f.input :query, label: 'Is your friend already on the platform?', placeholder: " Enter you friend's full name" %>
      <%= f.submit 'Search friend', class:"main_action_button mb-0" %>
  <% end %>

  <div class="d-flex justify-content-start flex-wrap mx-5 mt-2">
    <% unless @searched_user.nil? %>
      <% @searched_user.each do |user| %>
            <%= link_to friend_invitations_path(@invitation, friend_id: user.id), class: "text-decoration-none", method: :post do %>
              <div class="avatar-xl-name" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= user.profile_image_path %>')">
                <%= user.full_name %>
              </div>
            <% end %>
      <% end %>
    <% end %>
  </div>

</div>

<!-- Invite friend through e-mail -->
<div class="mt-3">
  <p>Didn't find your friend? Share via e-mail:</p>

  <div class="form">
    <%= simple_form_for @referral do |f| %>
      <%= f.input :friend_email, placeholder: "Enter your friend's email" %>
      <%= f.submit class:"main_action_button mb-0" %>
    <% end %>

  </div>

</div>









